* {
    background-color: black;
    box-sizing: 0;
}
#root {
    
    display: flex;
    padding: 10vw;
}

.hi {
    color: #000;
    margin: -1000px 0 0 0;
}

.hi {
    color:aqua;
    transition: 3000ms;
    margin: 100px 0 0 0;
}

.name {
    color: #000;
    margin: 0 -100vw 0 0;
}

.name {
    color:aqua;
    transition: 3000ms;
    margin: 0 100 0 0;
}